@import "../../../colors.scss";
@import "../../../buttons.scss";

.tree-builder{
    h2{
        font-size: 1.5rem;
        margin-top: 30px;
        margin-bottom: 10px;
        text-align: center;
    }
    p {
        margin-bottom: 20px;
        line-height: 1.3rem;
    }
    .tree-list-next-button{
        margin: 20px 0;
        display: flex;
        justify-content: center;
        button {
            @include buttonSolid($primaryRed);
            transform: scale(0.8);
            width: 80%
        }
    }
    .tree-list{
        // background: #cccccc;
        background-image: url('../../../assets/tree_branch_pattern.jpg');
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        max-width: 500px;
        margin: 0 auto;
        .fa-ellipsis-v {
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            margin: 10px 0px 4px 0px;
            color: darkgray;
            opacity: .3;
        }
        .fa-plus-circle {
            font-size: 4rem;
            color: $primaryRed;
            cursor: pointer;
            margin: 10px auto 20px auto;
            &:hover {
                color: white;
            }
        }
    }
    @media (min-width: 769px){
        .tree-list {
            max-width: 700px;
        }
    }
    @media (min-width: 1280px){
        // div:first-child {
        //     background: blue;
        // }
        h2 {
            font-size: 2rem;
        }
        .tree-builder-description {
            max-width: 550px;
            text-align: center;
            margin: 30px auto;
            margin-top: 10px;
        }
        .tree-list-next-button{
            button {
                max-width: 300px;
            }
        }
    }
}