@import "../../../colors.scss";
@import "../../../variables.scss";
@import "../../../buttons.scss";

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        text-align: center;
        font-size: 1.2rem;
    }
    p {
        margin-top: 5px;
        font-size: 0.9rem;
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // line-height: 12px;
        input {
            @include inputFieldCD;
            width: 90%;
            margin-top: 20px;
            max-width: 200px;
        }
        button {
            margin-top: 25px;
            @include buttonSolid($primaryRed);
            transform: scale(1);
        }
    }
    span {
        margin: 18px 0px 20px 0px;
        text-decoration: underline;
        font-size: 0.9rem;
    }
    @media (min-width: 769px){
        h2 {
            font-size: 1.5rem;
        }
        p {
            font-size: 1rem;
        }
        form {
            button {
                transform: scale(0.8);
            }
        }
    }
}