@import "../../../buttons.scss";

.stamps {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    i {
        align-self: center;
        margin-bottom: 20px;
    }
    h2 {
        line-height: 1.4rem;
    }
    p {
        font-size: .8rem;
        text-align: center;
    }
    .stamps-buttons {
        display: flex;
        margin: 20px 0px;
        button {
            @include buttonSolid($primaryRed);
            transform: scale(.7);
            font-size: 1.4rem;
            padding: 10px 10px;
        }
    }
}

@media (min-width: 1280px) {
    .stamps{
        padding: 40px 150px;
        p {
            margin-bottom: 20px;
        }
        .stamps-buttons{
            width: 50vw;
            display: flex;
            margin: 0 auto;
            justify-content: space-between;
        }
    }
}

@media (min-width: 1920px) {
    .stamps {
        width: 50%;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 60px 0px;
        h2 {
            text-align: center;
        }
        p {
            margin-top: 10px;
        }
        .stamps-buttons {
            width: 100%;
        }
    }
}