@import "../../../../colors.scss";
@import "../../../../buttons.scss";

.card {
    // background: red;
    width: 300px;
    height: 325px;
    max-height: 400px;
    max-width: 400px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px #00000020;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 10px;
    // justify-content: center;
    align-items: center;
    // position: relative;
    transition: .3s;
    .card-item {
        // position: relative;
        // width: 100%;
        // height: 150px;
        .card-item-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 3px 3px 0 3px;
            padding: 0 3px;
        }
        button {
            @include buttonHollow($primaryRed);
        }
    }
    .card-img-out {
        width: 290px;
        height: 290px;
        border-radius: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .card-item-main {
        position: relative;
        // width: 100%;
        // height: 125px;
        display: flex;
        label {
            position: absolute;
            top: 3px;
            left: 3px;
        }
        .tag {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0 3%;
            border-radius: 3px;
            font-family: Montserrat, Geneva, Verdana, sans-serif;
            color: white
        }
    }
}