@import "../../../buttons.scss";
@import "../../../colors.scss";

.cart {
    // width: 100%;
    margin: 0 auto;
    max-width: 600px;
    > h2 {
        font-size: 2rem;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    @media (min-width: 769px){
        > h2 {
            font-size: 1.5rem;
        }
    }
    .checkout-buttons{
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .checkout-yearly-subscription {
            @include buttonSolid($primaryRed);
            transform: scale(.7);
            // padding: 10px 5px;
            width: 130%;
            height: 50px;
            margin-bottom: 15px;
        }
        .checkout-one-box {
            @include buttonHollow($primaryRed);
            transform: scale(.9);
            width: 80%;
            height: 30px;
        }
    }
    .stamps-section {
        display: flex;
    }
}