@import "../../../buttons.scss";
@import "../../../colors.scss";

.cart {
    // width: 100%;
    margin: 0 auto;
    max-width: 600px;
    hr {
        opacity: .5;
        width: 80%;
    }
    > h2 {
        font-size: 2rem;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    @media (min-width: 769px){
        > h2 {
            font-size: 1.5rem;
        }
    }
    .back-to-cards {
        @include buttonSolid($primaryOrange);
        width: 100%;
        transform: scale(.7);
    }
    .total {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        p {
            font-size: 1.5rem;
            margin-top: 10px;
        }
    }
    .checkout-buttons{
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .checkout-yearly-subscription {
            @include buttonSolid($primaryOrange);
            transform: scale(.7);
            // padding: 10px 5px;
            width: 130%;
            height: 50px;
            margin-bottom: 15px;
        }
        .checkout-one-box {
            @include buttonHollow($primaryOrange);
            transform: scale(.9);
            width: 80%;
            height: 30px;
        }
    }
    .stamps-section {
        display: flex;
        width: 100%;
        // align-items: center;
        justify-content: center;
        .stamps-section-stamps{
            display: flex;
            align-items: center;
            // justify-content: space-betwee;
            button {
                @include buttonSolid($primaryRed);
                transform: scale(1);
                font-size: 12px;
                padding: 10px 23px;
            }
            p {
                font-size: 1.2rem;
                margin: 13px 0px;
                margin-right: 7px;
                span{
                    font-size: 0.8rem;
                }
            }
        }
        .stamps-section-stamps-expanded {
            display: flex;
            align-items: center;
            // justify-content: space-betwee;
            button {
                @include buttonSolid($primaryRed);
                transform: scale(1);
                font-size: 12px;
                padding: 10px 23px;
            }
            button:not(.stamp-save) {
                @include buttonHollow($primaryRed);
                transform: scale(1);
                font-size: 14px;
                font-weight: bold;
                padding: 6px 10px;
            }
            button:nth-child(2){
                margin-right: 10px;
            }
            button:nth-child(4){
                margin-right: 14px;
            }
            p {
                font-size: 1.2rem;
                margin: 13px 0px;
                margin-right: 7px;
                span{
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media (min-width: 1280px){
    .cart {
        .back-to-cards {
            transform: scale(1);
            font-size: 14px;
            padding: 10px 0px;
            width: 150px
        }
        .checkout-buttons {
            .checkout-yearly-subscription {
                width: 70%;
            }
            .checkout-one-box {
                width: 40%;
            }
        }
        .total {
            justify-content: center;
            font-weight: bold;
        }
    }
}