@import "./colors";

@mixin buttonSolid($color) {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: $color;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    color: white;
    font-size: 19px;
    padding: 10px 29px;
    border: 0px solid #00000000;
    transition: .3s;
    transform: scale(.5);
    &:hover{
            transition: .3s;
            background-color: #00000000;
            box-shadow: inset 0 0 0 4px $color, 0 0 1px rgba(0, 0, 0, 0);
            color: $color;
        }
}

@mixin buttonHollow($color){
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: white;
    box-shadow: inset 0 0 0 3px $color, 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    color: $color;
    font-size: 12px;
    padding: 6px 22px;
    border: 0px solid #00000000;
    transition: .3s;
    &:hover{
            transition: .3s;
            background-color: white;
            box-shadow: inset 0 0 0 4px $color, 0 0 1px rgba(0, 0, 0, 0);
            color: $color;
        }
}

// @mixin flexCenter($direction, $background) {
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: $direction;
//     background: $background;
// }