@import "../../../../buttons";

.Hero {
    display: flex;
    justify-content: center;
    margin: 0px -30px;
    .hero1{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            color: white;
            font-size: 2rem;
            text-align: center;
            text-shadow: 0px 1px 15px #000000;
        }
    }
    button {
        @include buttonSolid($primaryRed);
        font-size: 3rem;
    }
    @media (min-width: 769px){
        button {
            font-size: 2rem;
        }
    }
    @media (min-width: 1080px){
        .hero1 {
            height: 600px;
            h2 {
                font-size: 3rem;
            }
            button {
                transform: scale(.8);
            }
        }
    }
    @media (min-width: 1280px){
        .hero1 {
            height: 700px;
            h2 {
                font-weight: bold;
                font-size: 3.5rem;
                margin-bottom: 20px;
            }
            button {
                transform: scale(.8);
            }
        }
    }
    @media (min-width: 1920px){
        .hero1 {
            height: 850px;
            h2 {
                margin-bottom: 30px;
                font-size: 4rem;
            }
        }
    }
}