@import "../../../buttons.scss";
@import "../../../colors.scss";

.cardselect {
    width: 100%;
    .cardselect-buttons {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        button {
            @include buttonSolid($primaryRed);
            transform: scale(.7);
            width: 100%;
        }
        .finish {
            @include buttonSolid($primaryOrange);
            transform: scale(.7);
            width: 100%;
        }
    }
}

.cardselect-map {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
    // // justify-content: flex-start;
    // align-items: center;
    // background: blue;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    justify-items: center;
    margin-bottom: 30px;
}

.cardselect-name {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    h3 {
        margin-right: 6px;
    }
    h2 {
        font-weight: bold;
    }
}

@media (min-width: 675px) {
    .cardselect-map {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 15px;
        justify-items: center;
        margin-bottom: 30px;
    }
}

@media (min-width: 769px) {
    .cardselect-map {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 15px;
        justify-items: center;
        margin-bottom: 30px;
    }
}

@media (min-width: 1280px) {
    .cardselect-map {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row-gap: 20px;
        justify-items: center;
        margin-bottom: 30px;
    }
    .cardselect {
        .cardselect-buttons{
            button {
                width: 20%;
            }
            .finish {
                width: 20%;
            }
        }
    }
}

@media (min-width: 1920px) {
    .cardselect-map {
        width: 80%;
        margin: 0 auto;
        grid-row-gap: 20px;
    }
}